* {	font-family: Verdana; }
h1, h2, h3, h4 { font-family: Arial; font-weight: normal; }
h1, h2, h3, h4,
div, p, li { margin-bottom: .4em; }
a:link, a:visited { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }